@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


:root {
  --background: #b1a9c7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Source Code Pro", monospace;
  margin: 100px;
}

.box {
  background-color: #FFFFE0;
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: 14px;
}

h1 {
  font-weight: 900;
  font-size: 40px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}

p {
  font-size: 20px;
}